
.coupon-list-item{padding:0 0.32rem;} 
.coupon-item{padding: 0.32rem;background: #fff;margin:0.32rem 0;border-radius: 0.04rem;}
.coupon-item.unused{background: #fff url("../images/coupon/ic_coupon_unused.png") no-repeat right top/1rem 1rem;}
.coupon-item.used{background: #fff url("../images/coupon/ic_coupon_used.png") no-repeat right top/1rem 1rem;}
.coupon-item.overdue{background: #fff url("../images/coupon/ic_coupon_expired.png") no-repeat right top/1rem 1rem;}
.coupon-item .coupon_val{color: #FF5736 ;font-size: 0.48rem;line-height: 0.48rem;}
.coupon-item .coupon_name{color: #262626 ;font-size: 0.28rem;line-height: 0.28rem;padding: 0.32rem 0;}
.coupon-item .coupon_time{color: #999 ;font-size: 0.24rem;line-height: 0.24rem;}


.no-coupon{width: 6.55rem;height: 2rem;background: url("../images/coupon/icon_coupon_used.png") no-repeat center;background-size:100% 100%;margin:0.3rem auto;text-align: center;line-height: 2rem;font-size: 0.4rem;color: #fff;display: none;}
.coupon-overdue{background: url("../images/coupon/icon_coupon_used.png") no-repeat center;background-size:100% 100%;}