

/*我的钱包*/
.mywallet:after{content: "";position: absolute;top:0.96rem;left:0;width: 100%;height: 2.26rem;background: #ffe00f;z-index: 1}
.walletCount{height:3.88rem;border-radius: 0.04rem;margin:0.32rem;background:#fff url("../images/mine/pic_overage.png") no-repeat center 0.64rem;background-size: 2rem 1.06rem;position: relative;z-index: 2}
.walletCount label{font-size: 0.28rem;color: #999;display: block;text-align: center;line-height: 0.28rem;margin-top: 0.3rem; }
.walletCount .wallet_number{font-size: 0.88rem;color: #262626;padding:2rem 0 0 0 ;text-align: center;line-height: 0.88rem;}
.mywallet ul{padding:  0.32rem;}
.mywallet ul li{height: 0.96rem;background: #fff;line-height: 0.96rem;font-size: 0.32rem;color: #262626;text-align: center;border-radius: 0.04rem;margin:0.32rem 0;}
.mywallet ul .getmoney{background: #ffe00f;}
.mywallet ul .walletDetail{background: #fff;}
.walletDetail_box{padding: 0.2rem 0 0 0;background: #fff;border-top: 1px solid #f5f5f5;}
.walletDetail_box .name{padding: 0 0.25rem;height: 1rem;line-height: 1rem;border-bottom: 1px solid #f5f5f5}
.walletDetail_box .name p{float: left;font-size: 0.35rem;color: #333;}
.walletDetail_box .name .money{float: right;font-size: 0.35rem;color: #333;}
.walletDetail_box .name .money.on{color:  #47e501}

.walletDetail_box .detail_info{padding: 0.2rem 0.25rem}
.walletDetail_box .detail_info ul{}
.walletDetail_box .detail_info ul li{height: 0.6rem;line-height: 0.6rem;font-size: 0.3rem;color: #666}
.walletDetail_box .detail_info ul li label{float: left;}
.walletDetail_box .detail_info ul li span{float: right;color: #999}
/*支付键盘*/
.walletPass{position: fixed;width: 100%;max-width: 750px;height: 100%;top:0;z-index: 1}
.walletPass .payPassVal{width: 6rem;height: 2.5rem;position: relative; top:3rem;background: #fff;border-radius: 0.2rem;left:0;right:0;margin:0 auto;}
.walletPass .payPassVal .payPassVal_title{font-size: 0.3rem;color: #333;line-height: 0.8rem;text-align: center;}
.walletPass .payPassVal .payPassVal_title label{color: #e48912;font-size: 0.35rem;}
.walletPass .payPassVal  span{width: 0.8rem;height: 0.8rem;border:1px solid #ccc;border-right: none;display: block;float: left;margin-top: 0.2rem;text-align: center;line-height: 0.8rem;color: #666;font-size: 0.5rem;}
.walletPass .payPassVal  span:nth-of-type(1){margin-left: 0.5rem; }
.walletPass .payPassVal  span:nth-of-type(6){border-right:1px solid #ccc; }

.walletPass .payNum{position: absolute;width: 100%;max-width: 750px;bottom: 0;background: #fff;}
.walletPass .payNum li{width: 33.33%;height: 1rem;color:#666;float: left;line-height: 1rem;border:1px solid #ccc;border-right: none;border-bottom: none;text-align: center;font-size: 0.35rem;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */}
.walletPass .payNum li:active{background: #f5f5f5}
.walletPass .payPass_close{position: absolute;width: 0.6rem;height: 0.6rem;border-radius: 50%;background: #000;top:-0.3rem;right:-0.3rem;color: #fff;line-height: 0.6rem;text-align: center;font-size: 0.3rem;}


/*我的任务*/
.myOrder{}
.myOrderBox{display: none;}
.myOrderBox:first-child{display: block;}
.myOrderCon{min-height: 2rem;background: #fff;margin:0.25rem;padding: 0.15rem 0.25rem;border-radius: 0.1rem;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */}
.myOrderCon .nameState{height: 0.67rem;}
.myOrderCon .nameState .img{height: 0.67rem;width: 0.67rem;border-radius: 50%;margin:0 0.15rem 0 0;overflow: hidden;}
.myOrderCon .nameState .img img{height: 100%;width: 100%;}
.myOrderCon .nameState .name{height: 0.67rem;line-height: 0.67rem;font-size: 0.3rem;color: #555555;}
.myOrderCon .nameState .state{height: 0.67rem;line-height: 0.67rem;font-size: 0.25rem;color: #aaaaaa;}
.myOrderCon .content{width:100%;;font-size: 0.25rem;color: #555555;line-height: 0.35rem;padding: 0.1rem 0;display: table;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */ }
.myOrderCon .datamoney{text-align: right;height: 0.67rem;line-height: 0.67rem;color: #EF7272;font-size: 0.3rem;}
.myOrderCon .data{float: left;font-size: 0.26rem;color: #999}
.myOrderCon .money{float: right;}
.schoolwork_de{padding:0;padding-bottom: 1.5rem;}
.schoolwork_info{padding:0.33rem;background: #fff;position: relative;width: auto;margin:0.33rem;border-radius: 3px;}
.schoolwork_info .works-state{position: absolute;top:1.15rem;right:0.25rem;background: url("../images/order_status_line.png") no-repeat center top;background-size: auto 0.5rem;padding-top: 0.5rem;width: 0.45rem;}
.schoolwork_info .works-state p{width: 0.45rem;font-size: 0.24rem;line-height: 0.3rem;border-radius: 0.35rem;text-align: center;color: #fff;padding: 0.1rem 0;}
.schoolwork_info .contact{position: absolute;right:0.2rem;top:1.2rem;padding: 0.1rem 0.15rem;color: #fff;font-size:0.28rem;border-radius: 0.1rem;border:1px solid #5a5653;background: #67b489;}
.schoolwork_info .contact a{display: block;color: #fff}
.schoolwork_info .name {height: 0.65rem;line-height: 0.65rem;margin-bottom: 0.65rem;}
.schoolwork_info .tell{float: right;width: 0.96rem;height: 0.48rem;background: #cccccc;color: #fff;font-size: 0.28rem;line-height: 0.48rem;border-radius: 3px;margin-top: 0.09rem;text-align: center;}
.schoolwork_info .tell a{display: block;width: 100%;height: 100%;color: #fff;}
.schoolwork_info .totell{background: #262626;color: #ffe00f}
.schoolwork_info .totell a{color: #ffe00f}
.schoolwork_info  .name .img{width: 0.65rem;height: 0.65rem;border-radius: 50%;float: left;}
.schoolwork_info  .name  p{font-size: 0.32rem;color: #262626;padding-left: 0.15rem;float: left;}
.schoolwork_info  .name  p span{color: #999;font-size: 0.28rem;}
.schoolwork_de .work_description{padding:0.33rem;background: #fff;position: relative;width: auto;margin:0.33rem;border-radius: 3px;min-height: 1.92rem;}
.schoolwork_de .work_description p{padding-left: 0.65rem;background: url("../images/works/ic_task_content.png") no-repeat left 0.05rem;background-size: 0.48rem auto;font-size: 0.28rem;line-height: 0.45rem;color: #262626;}


.schoolwork_de .postwork_footer{width: 100%;left:0px;max-width: 750px;margin:0 auto;position: fixed;bottom:0;}
.schoolwork_de .postwork_footer .postwork_button{width: 100%;}
.schoolwork_de .postwork_footer .postwork_button input{height: 0.96rem;text-align: center;color: #262626;background: #ffe00f;font-size:0.32rem;float: left;}
.schoolwork_de .postwork_footer .postwork_button .closeOrder {background:#fff;}
.schoolwork_de .postwork_footer .postwork_button .closeOrder_color {background:#ffe00f;}
.schoolwork_de .postwork_footer .postwork_button .completedOrder {background:#ffe00f;color: #262626;}
.schoolwork_de .postwork_footer .postwork_button .finishOrder {background:#cccccc;color: #fff;}

.schoolwork_de .postwork_footer .declare{font-size: 0.28rem;color: #F29F5B;float: right;margin-top: 0.25rem;}
.schoolwork_de .postwork_footer .postwork_button input.on{width: 100%;height: 1rem;text-align: center;color: #fff;background: #5ac8fa url("../images/loading.gif") no-repeat 30% center;background-size: auto 0.6rem;font-size:0.4rem;border-radius: 0.2rem; }
.schedule{padding:0.66rem 0.33rem;background: #fff;position: relative;width: auto;margin:0.33rem;border-radius: 3px}
.schedule li{float: left;position: relative;padding-top: 0.24rem;}
.schedule li label{display: block;line-height: 0.76rem;color: #999999;font-size: 0.28rem;text-align: center;line-height: 0.6rem;}
.schedule li:nth-of-type(1){width: 25%;background: url("../images/works/ic_extinguish.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li:nth-of-type(2){width: 25%;background: url("../images/works/ic_extinguish.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li:nth-of-type(3){width: 25%;background: url("../images/works/ic_extinguish.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li:nth-of-type(4){width: 25%;background: url("../images/works/ic_extinguish.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li.on:nth-of-type(1){width: 25%;background: url("../images/works/ic_light.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li.on:nth-of-type(2){width: 25%;background: url("../images/works/ic_light.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li.on:nth-of-type(3){width: 25%;background: url("../images/works/ic_light.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li.on:nth-of-type(4){width: 25%;background: url("../images/works/ic_light.png") no-repeat center top;background-size: 0.24rem 0.24rem;}
.schedule li.on:nth-of-type(1):after,.schedule li.on:nth-of-type(2):after,.schedule li.on:nth-of-type(3):after{content: '';width: 0.99rem;height: 0.08rem;background: #dddddd;border-radius: 0.08rem;position: absolute;top: 0.08rem;left:70%;}
/*设置*/
 .setting-container {width: 100%;position: relative;margin:0.32rem 0;background: #fff;}
 .setting-container  .social-introduction {height: 0.96rem;margin: 0 0.32rem;background: #fff url(../images/mine/ic_mine_more.png) no-repeat 98% center;background-size: 0.38rem auto;line-height: 0.96rem;border-bottom: 1px solid #eee;}
 .setting-container  .social-introduction-no {height: 0.96rem;margin: 0 0.32rem;line-height: 0.96rem;border-bottom: 1px solid #eee;}
 .setting-container  .social-introduction:last-child{border-bottom: none;}
 .setting-container  .social-introduction-no:last-child{border-bottom: none;}
 .setting-container  .social-introduction:after{content: '';clear: both;display: block;height: 0;visibility: hidden;}
 .setting-container  .social-introduction span{color: #262626;font-size: 0.28rem;}
 .setting-container  .exit{font-size: 0.28rem;height: 0.96rem;width: 100%;text-align: center;background:none;}	
#setting .bottom{width: 100%;box-sizing:border-box;padding: 0rem 0.3rem;position: fixed;bottom: 0.5rem;}
#feedback .feedback-container{width: 100%;}
#feedback .feedback-container .feedback-input{margin-top: 0.32rem;width: 100%;height: 3rem;text-indent: 0.03rem;box-sizing:border-box;padding:0.32rem;overflow-y:hidden;font-size: 0.28rem;line-height: .42rem;}
#feedback .contact{padding:0 0.32rem;background:#fff; height: 0.96rem;margin-top: 0.32rem;}
#feedback .contact label{width:1.85rem;float: left;color: #262626;height: 0.96rem;font-size: 0.28rem;line-height: 0.96rem;text-align: left;}
#feedback .contact input{width: 4rem;border:none;float: left;height: 0.96rem;color: #262626;font-size: 0.28rem;}


#feedback .sub{padding: 0 0.32rem;margin-top: 0.64rem;}
#feedback .sub .verify{width: 100%;height: 0.96rem;border-radius: 0.04rem;text-align: center;font-size: 0.4rem;color: #fff;background: #ccc;}
#feedback .sub .verify.active{background: #ffe00f;color: #262626;}
.social-introduction-item{height: 0.96rem;line-height: 0.96rem;padding: 0 0.32rem;}
.social-introduction-item label{color: #262626;font-size: 0.28rem;float: left;}
.social-introduction-item span{color: #999999;font-size: 0.28rem;float: right;}
#about-xh .about-container .top-version{width: 100%;height:3.82rem;text-align: center;background: url("../images/logo.png") no-repeat center 1rem;background-size: auto 1.2rem;}

#about-xh .bottom{width: 100%;box-sizing:border-box;margin-top:6rem;padding: 0rem 0.3rem}
.company{width: 100%;position: fixed;bottom: 0.3rem;max-width:750px;}
.company p{text-align: center;font-size: 0.24rem;letter-spacing: 1px;color: #999;}


/*我的积分*/
#mypoint .mypoint-container{z-index: -1;}
#mypoint .mypoint-container .container-top{height: 4.4rem;padding:0.3rem 0.3rem 0rem 0.3rem;background: #f5f5f5;}
#mypoint .mypoint-container .container-top .img-container{text-align: center;height: 2rem;width: 100%;margin-bottom: 0.64rem;}
#mypoint .mypoint-container .container-top .img-container .record-grade{float: right;width:1.3rem;font-size: 0.28rem;text-align: center;background:#67B489;height: 0.48rem;color: #fff;line-height: 0.48rem;border-radius: 0.2rem;}
#mypoint .mypoint-container .container-top .img-container .record-grade a{color: #fff}
#mypoint .mypoint-container .container-top .img-container:after{content: '';display: block;clear: both;height: 0;visibility: hidden;}
#mypoint .mypoint-container .container-top .grade{text-align: justify;width: 100%;font-size: 0.3rem;color: #aaa;box-sizing:border-box;padding: 0rem 0.19rem 0.3rem 0.19rem;}
#mypoint .mypoint-container .container-top .grade span:nth-of-type(2){float: right;}
#mypoint .mypoint-container .container-top .grade:after{content: '';display: block;clear: both;height: 0;visibility: hidden;}
#mypoint .mypoint-container .container-top .progress-container{width: 100%;height: 0.33rem;border-radius: 0.3rem;background: #CCCCCC;margin-bottom:0.65rem;overflow: hidden;}
#mypoint .mypoint-container .container-top .progress-container .progress{width: 0%;height: 100%;border-radius: 0.3rem;background:#67B489;transition:width 0.5s;-webkit-transition:width 0.5s; }
#mypoint .mypoint-container .container-bottom{background: #fff;padding: 0.3rem;color:#648071;font-size: 0.3rem; }
#mypoint .mypoint-container .container-bottom .table{width: 100%;}
#mypoint .mypoint-container .container-top .img-container.level00{background: url("../images/icon_levelzero.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level01{background: url("../images/icon_levelone.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level02{background: url("../images/icon_leveltwo.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level03{background: url("../images/icon_levelthree.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level04{background: url("../images/icon_levelfour.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level05{background: url("../images/icon_levelfive.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level06{background: url("../images/icon_levelsix.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level07{background: url("../images/icon_levelseven.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level08{background: url("../images/icon_leveleight.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level09{background: url("../images/icon_levelnine.png") no-repeat center;background-size: 2.48rem auto;}
#mypoint .mypoint-container .container-top .img-container.level10{background: url("../images/icon_levelten.png") no-repeat center;background-size: 2.48rem auto;}
.grade-container{box-sizing:border-box;padding: 0.3rem 0.7rem 0rem 0.7rem;font-size: 0.32rem;}
.grade-container .grade-item{width: 100%;height: 0.8rem;background:#67B489;box-sizing:border-box;}
.grade-container .grade-item .ig{float: left;box-sizing:border-box;width: 50%;height: 100%;font-size: 0.28rem;text-align: center;color: #fff;line-height: 0.8rem;}
.grade-container .grade-item .item-second{color:#67B489;}
.grade-container .specify{background: #fff;border-left: 1px solid #ccc;border-bottom:1px solid #ccc;border-right: 1px solid #ccc;}
.grade-container .specify .item-second:nth-of-type(1){border-right: 1px solid #ccc;}

.grade-get-way{margin-top: 0.3rem;}
.grade-get-way .way-container{box-sizing:border-box;padding: 0.3rem 0.7rem 0rem 0.7rem;}
.way-container .way-item{width: 100%;min-height: 0.8rem;background:#5AC8FA;box-sizing:border-box;}
.way-container .way-item .wg{float: left;box-sizing:border-box;width: 50%;min-height: 0.8rem;font-size: 0.28rem;text-align: center;color: #fff;line-height: 0.8rem;}
.way-container .way-item .way-item-second{color:#AAAAAA;}
.way-container .way-specify{background: #fff;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}
.way-container .way-specify .way-item-second:nth-of-type(2){border-left: 1px solid #ccc;}
.payattention{margin-top: 0.3rem;color:#648071;font-size: 0.32rem;}
.payattention dd{font-size: 0.28rem;line-height: 0.4rem;margin-top: 0.3rem;}
.way-container .way-item:after{content:"";clear:both;display: block;width: 100%;height: 0}


.mypointRecord{width: 100%;}
.mypointRecord li{padding: 0.3rem 0.25rem;border-bottom: 1px solid #f5f5f5;height: 1rem;background: #fff;}
.mypointRecord li .namedata{float: left;width: 60%;}
.mypointRecord li .namedata .name{font-size: 0.32rem;color:#333;line-height: 0.5rem}
.mypointRecord li .namedata .data{font-size: 0.24rem;color:#999;line-height: 0.5rem}
.mypointRecord li .pointNum{margin-left: 60%;text-align: right;font-size: 0.35rem;color: #333;line-height: 1rem}
.mypointRecord li .pointNum.on{color: #47e501}
.orderWalletPass{display: none;background: rgba(0,0,0,0.5);}


.setAlipay{}
.setAlipay .setAlipay_title{font-size: 0.28rem;color: #999;line-height: 0.45rem;padding:0.5rem 0.25rem 0.1rem 0.25rem;}
#setAlipay_form{padding: 0 0.32rem;background: #fff;margin-top: 0.32rem}
#setAlipay_form .input_b{width: 100%;height: 0.96rem;line-height: 0.96rem;border-bottom: 1px solid #f5f5f5;position: relative;}
#setAlipay_form .input_b label{float: left;font-size: 0.26rem;color: #666;width: 25%;}
#setAlipay_form .input_b input{display: block;margin-left: 28%;width: 70%;border:none;height: 0.96rem;line-height: 0.96rem;color: #999;font-size: 0.28rem;letter-spacing: 1px}
#setAlipay_form .input_b input:focus{color: #262626;}
#setAlipay_form aside{font-size: 0.26rem;color: #999;height: 0.6rem;line-height: 0.6rem;}
.setAlipay_submit_box{padding:0 0.32rem;}
.setAlipay_submit{border: none;width: 100%;height: 0.96rem;background: #ccc;border-radius: 0.04rem;color: #fff;font-size: 0.32rem;text-align: center;margin-top: 0.64rem;line-height: 0.96rem;}
.setAlipay_submit.active{background:#ffe00f ;color: #262626;}



.alipayList{}
.alipayList .alipay_info{padding:0 0.32rem;height: auto;background: #fff;overflow: hidden;margin-top: 0.32rem;}
.alipayList .alipay_info span{color: #262626;font-size: 0.28rem}
.alipayList .alipay_info .alipay_info_card{font-size: 0.28rem;line-height: 0.96rem;color: #262626;height: 0.96rem;border-bottom: 1px solid #eee;}
.alipayList .alipay_info .alipay_info_name{font-size: 0.28rem;line-height: 0.96rem;color: #262626;height: 0.96rem;}
.alipayList .alipay_info .alipay_info_label{font-size: 0.32rem;color: #999;text-align: right}
.alipayList .alipay_info label{margin-right:0.66rem;}

.alipay_updata{padding:0 0.32rem;height: 0.96rem;margin-top: 0.64rem;}
.alipay_updata a{display: block;color: #fff;width: 100%;height: 0.96rem;line-height: 0.96rem;background:#ffe00f;font-size: 0.32rem;color: #262626;text-align: center;border-radius: 0.04rem;}
#setAlipay_form .getcode{position: absolute;right:0;line-height: 0.6rem;font-size: 0.3rem;color: #5ac8fa;top:0;}
#setAlipay_form .alipay_getcode{position: absolute;right:0;line-height: 0.64rem;top:0.16rem;height: 0.64rem;color: #262626;font-size: 0.24rem;background:#ffe00f;border-radius: 0.04rem;padding:0 0.1rem;}

/*提现*/
.getmoney-container{}
.getmoney-container .getmoeney-inner-container{width: 100%;height: auto;}
.getmoney-container .getmoeney-inner-container .inner-container-top{padding: 0 0.2rem 0 0.3rem;font-size: 0.3rem;background: #fff;margin:0.32rem 0;}
.getmoney-container .getmoeney-inner-container .inner-container-top .inner-container-item{height: 0.96rem;line-height: 0.96rem;border-bottom: 1px solid #eeeeee;}
.getmoney-container .getmoeney-inner-container .inner-container-top .inner-container-item:last-child{border-bottom: none;}
.getmoney-container .getmoeney-inner-container .inner-container-top .inner-container-item label{font-size: 0.28rem;color: #262626;margin-right: 0.66rem;}
.getmoney-container .getmoeney-inner-container .inner-container-top .inner-container-item span{font-size: 0.28rem;color: #262626;}

.getmoney-container .getmoeney-inner-container .inner-container-bottom{background: #fff;padding: 0.32rem;}

.getmoney-container .getmoeney-inner-container .inner-container-bottom p{text-align: left;font-size: 0.28rem;color: #262626;}
.getmoney-container .getmoeney-inner-container .input-money{width: 100%;height:1.3rem;border-bottom: 1px solid #eeeeee;line-height: 1.3rem;font-size: 0.88rem;color: #999;letter-spacing: 0.05rem;text-align: left;}
.getmoney-container .getmoeney-inner-container .getall-container{height: 0.28rem;color: #999;font-size: 0.28rem;line-height: 0.28rem;margin-top: 0.32rem;}
.getmoney-container .getmoeney-inner-container .getall-container a{color: #0e7fff ;float: right;}
.getmoney-container .time-declare{font-size: 0.24rem;color: #ccc;text-align: center;margin: 0.2rem 0rem;}
.getmoney-container .btn-container{padding:0.72rem 0.32rem 0 0.32rem;}
.getmoney-container .btn-container button{width: 100%;height: 0.96rem;background: #ccc;text-align: center;color: #fff;font-size: 0.32rem;border-radius: 0.04rem;}
.getmoney-container .btn-container button.active{background: #ffe00f;color: #262626;}
.getall_container_w{font-size: 0.28rem;color: #999;}
.getall_error{font-size: 0.28rem;color: #ff5736;display: none;}
.walletInfo{}
.walletInfo ul{}
.walletInfo ul li{border-bottom: 1px solid #eee;padding:0 0.32rem;height: 0.96rem;line-height: 0.96rem;background: #fff;background: #fff url(../images/mine/ic_mine_more.png) no-repeat 98% center;background-size: 0.38rem auto;}
.walletInfo ul li:first-child{margin:0.32rem 0;}


/*实名认证*/
.certification{}
#beforeP,#afterP{position: relative;height: 3rem;background: #f5f5f5;background-size: 100%;margin-bottom: 0.25rem;}
#beforeP #post_img{background: url("../images/beforeP.jpg") no-repeat center;background-size: auto 2rem;}
#afterP #btnContainer{background: url("../images/afterP.jpg") no-repeat center;background-size: auto 2rem;}
#beforeP #post_img,#afterP #btnContainer{position: absolute;width: 100%;height: 100%;top:0;left:0;}
.webuploader-pick{width: 100%;height: 100%;opacity: 0}
#write-list-input aside{line-height: 0.4rem;text-align: left;font-size: 0.26rem;color: #ef7272;}
#write-list-input aside span{color: #aaaaaa;}
#write-list-input .remark p{color: #555555;font-size: 0.26rem;line-height: 0.4rem;}
.submit_container{padding: 0 0.32rem;margin-top: 0.64rem}
.certification_submit{width:100%;height:0.96rem;text-align: center;border-radius:0.04rem;background:#ccc;font-size: 0.32rem;color: #eee;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */display: block;}
.certification_submit.active{background:#ffe00f;color: #262626;}
.c_info{background: #fff;padding: 0 0.32rem;}
.c_info input{height: 0.96rem;font-size: 0.28rem;color: #262626;width: 70%;}
#beforeP input,#afterP input{position: absolute;width:100%;height: 100%;z-index: 990;opacity: 0;}
.certification_info{padding:0.32rem 0.32rem;display: none;margin:0.32rem 0;}
.certification_info .certification_info_item{height: 0.96rem;line-height: 0.96rem;font-size: 0.28rem;color:#282828;background: #fff}
.certification_info .certification_info_item label{padding: 0 0.32rem;}
.certification_info .certification_info_item span{font-size: 0.28rem;color: #999;}
.certification_ing{padding:0.35rem 0.3rem;display: none;}
.certification_ing p{height: 1rem;line-height: 1rem;font-size: 0.35rem;color:#222;border-bottom: 1px solid #eee;text-align: center;}

.certification_mark{color: #f29850;font-size: 0.24rem;height: 0.64rem;line-height: 0.64rem;padding: 0 0.32rem;}
.c_info_item label{margin-right: 0.64rem;height: 0.96rem;line-height: 0.96rem;color: #262626;font-size: 0.28rem;}